.backgroundHome {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/00/01/72/365608ecfdcf73c.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 50px;
  height: 100vh;
}
.head {
  color: darkmagenta;
}
.cardHome {
  background-color: yellow;
  height: 40vh;
  width: 50vw;
  text-align: center;
  color: red;
  border-radius: 10px;
  border-style: solid;
  border-color: green;
  padding: 50px;
  font-family: 'sans-serif';
  font-size: 20px;

}
.button {
  background-color: green;
  color: white;
  height: 30px;

  width: 10vw;
  border-radius: 5px;
  border-width: 0px;
}
